/*Page styling*/
body {
    background-image:url(../images/swirl_pattern.png);
}

/*heading & navbar styling*/
.navbar {
    opacity: 0.94; 
}
.h1 {
    background-color: #4aaaa5;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    /* margin-left: -15px; */
}
.nav-link {
    color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    border-right: solid #dddddd .1em;
}
.b {
    border-right: none;
} 


/*social media card styling*/
.social-card {
    margin-bottom: 30%;
    opacity: 0.94;
}
.social-title {
    color: #4aaaa5;
    border-bottom: solid #ccc 2px;
    padding-bottom: 8px;
    /* padding: 0px 0px 10px opx; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}
.fa {
    padding: 10px;
    font-size: 5em;
    /* width: 30px; */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* border-radius: 50%; */
}
.fa:hover {
    opacity: 0.7;
}
  
.fa-linkedin-square {
    /* background: #17a2b8; */
    color: black;
}
.fa-github-square {
    /* background: #17a2b8; */
    color: black;
}
.bg-color {
    background-color: #4aaaa5;
}

/*Portfolio card styling*/
.row.myContent {
    margin-top: 15%;
}
.main-card {
    opacity: 0.94;
}
.main-title {
    color: #4aaaa5;
    border-bottom: solid #ccc 2px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}
.btn {
    margin: 5px;
    color: white;
    background-color: #4aaaa5;
}

/*project cards styling*/
.proj-card {
    height: 400px;
}
.card-img {
    height: 275px;
}
.text-color {
    color: #4aaaa5;
}

/*footer styling*/
.footer {
    width:100%;
    text-align:center;
    border-top: solid #4aaaa5 5px;
    margin-bottom: 0em;
    position: fixed;
    bottom: 0;
    margin-top: 100px;
    opacity: 0.94; 
}
.copyright {
    color: white;
    padding: 30px 0 5px 0;
    font-size: 12px;
}